/* general */

html {
    overflow-y: scroll;
}

.g,
body,
html,
input,
.std,
h1 {
    font-size: small;
    font-family: arial, sans-serif;
}

.c h2,
h1 {
    font-weight: normal;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h1,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    border: 0;
    margin: 0;
    padding: 0;
}

h1,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

.osl a,
.gl a,
#tsf a,
a.mblink,
a.gl,
a.fl,
.slk a,
.bc a,
.flt,
a.flt u,
.blg a,
#appbar a {
    text-decoration: none;
}

a:link,
.w,
.q:active,
.q:visited {
    cursor: pointer;
}

.mblink:visited,
a:visited {
    color: #609;
}

a:link,
.w,
.q:active,
.q:visited {
    cursor: pointer;
}

a:link,
.w,
#prs a:visited,
#prs a:active,
.q:active,
.q:visited,
.kl:active,
.tbotu {
    color: #1a0dab;
}


/* body */

body {
    background: #fff;
    margin: 0;
    color: #222;
}


/* search_form */

.sr_body #search_form {
    position: absolute;
    top: 20px;
}

div#search_form {
    min-width: 980px;
    z-index: 103;
}

#search_form {
    width: 100%;
}


/* form */

.big form#tsf,
form#tsf {
    width: auto;
    max-width: 784px;
    overflow: visible;
}

.sr_body #tsf {
    position: relative;
}

.tsf {
    background: none;
}


/* left top header */

.big div.tsf-p,
form>div.tsf-p {
    margin: -1px 0 0;
    padding-right: 0;
}

.big .tsf-p {
    margin-right: 322px;
    padding-left: 150px;
}

.tsf-p {
    padding-left: 150px;
    margin-right: 46px;
    max-width: 739px;
}

.tsf-p {
    padding-left: 150px;
    margin-right: 46px;
    max-width: 739px;
}


/* logo */

.big #logocont {
    padding-left: 13px;
    padding-right: 12px;
}

#logocont {
    z-index: 1;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 7px;
}

.logocont {
    left: 0;
    position: absolute;
}

#logo {
    display: block;
    overflow: hidden;
    position: relative;
}

#logo img {
    border: 0;
    height: 44px;
    width: 120px;
}


/* input search */

.sfibbbc {
    padding-bottom: 2px;
    padding-top: 3px;
    margin-top: -3px;
    width: 632px;
}

.sbtc {
    position: relative;
}

.sbibtd {
    line-height: 0;
    overflow: visible;
    white-space: nowrap;
}

.sr_body #sfdiv {
    max-width: none;
    overflow: hidden;
}

.sbibod {
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


/* button search */

.sbico-c {
    background: transparent;
    float: right;
    height: 44px;
    line-height: 44px;
    margin-top: -1px;
    outline: 0;
    padding-right: 16px;
    position: relative;
    top: -1px;
    border: 0;
}

._wtf {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.sbico {
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    vertical-align: middle;
    color: #4285f4;
}

._wtf svg {
    display: block;
    height: 100%;
    width: 100%;
}


/* search by img & voice */

.lst-c {
    overflow: hidden;
}

.sbib_a,
.sbib_c {
    vertical-align: top;
}

.sbib_a {
    height: 44px;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sr_body #gs_st0 {
    padding: 0 2px 0 8px;
}

#gs_st0 {
    line-height: 44px;
    padding: 0 8px;
    margin-top: -1px;
    position: static;
}

.gsst_b {
    font-size: 16px;
    padding: 0 2px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.sbib_c[dir=ltr] {
    float: right;
}

[dir='ltr'],
[dir='rtl'] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
}

.gsst_a {
    text-align: center;
    padding: 0 8px;
    width: 24px;
    display: inline-block;
}

#qbi {
    background: url("../images/camera.png") no-repeat center;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    padding: 0;
    width: 24px;
}

.gsst_e {
    vertical-align: middle;
    opacity: 0.6;
}

.gsri_a {
    width: 18px;
    background: url("../images/voice.png") no-repeat -3px 0;
    background-size: 24px 24px;
    display: inline-block;
    height: 23px;
    vertical-align: middle;
}

.sbib_b {
    padding-left: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 5px 9px 0;
}

#gs_lc0 {
    position: relative;
}

#lst-ib {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    background: url("../images/input.gif") transparent;
    position: absolute;
    z-index: 6;
    left: 0px;
    outline: none;
}

.gsfi,
.lst {
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}

#gs_sc0 {
    background: transparent;
    color: transparent;
    padding: 0px;
    position: absolute;
    z-index: 2;
    white-space: pre;
    visibility: hidden;
}

#gs_taif0 {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    -webkit-text-fill-color: silver;
    color: silver;
    left: 0px;
    visibility: hidden;
}

#gs_htif0 {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    -webkit-text-fill-color: silver;
    color: silver;
    transition: all 0.218s;
    opacity: 0;
    text-align: left;
    left: 0px;
}


/* middle of right &left */

div.sfbg,
div.sfbgg {
    min-width: 980px;
    height: 64px;
}

.sfbg {
    background: #fafafa;
    height: 69px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: -20px;
}

.sfbgg {
    background-color: #fafafa;
    height: 65px;
}


/* right top header */

#gb {
    position: relative;
    top: 8px;
    font-size: 13px;
}

#gbd1 {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#gbd2 {
    min-width: 135px;
}

.gb_T .gb_kb {
    min-width: 0;
}

.gb_kb.gb_R {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex: 1 1 main-size;
    flex: 1 1 main-size;
}

.gb_T .gb_Dg {
    display: -webkit-flex;
    display: flex;
}

.gb_R.gb_Cg {
    float: right;
    -webkit-order: 1;
    order: 1;
}

.gb_kb {
    min-width: 255px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    z-index: 986;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-user-select: none;
}

.gb_kb {
    min-width: 255px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    z-index: 986;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-user-select: none;
}

.gb_Dg {
    white-space: nowrap;
}

.gb_Ac.gb_R,
.gb_je.gb_R,
.gb_db.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
}

.gb_R {
    display: inline-block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex: 0 0 main-size;
    flex: 0 0 main-size;
}

.gb_Dg,
.gb_R {
    margin-left: 0!important;
    margin-right: 0!important;
}

.gb_T .gb_S.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
    display: -webkit-flex;
    display: flex;
}

.gb_Q.gb_R:first-child {
    padding-left: 0;
}

.gb_Q.gb_R {
    display: none;
    padding-left: 15px;
    vertical-align: middle;
}

.gb_S.gb_R {
    display: inline-block;
}

#gb#gb a.gb_O,
#gb#gb a.gb_P,
#gb#gb span.gb_P {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.gb_S .gb_P {
    display: none !important;
}

.gb_Q .gb_P {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
}

.gb_Q span {
    opacity: .55;
    -webkit-user-select: text;
}

#gbd3 {
    min-width: 120px;
}

.gb_Ac.gb_R,
.gb_je.gb_R,
.gb_db.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
}

.gb_Ac {
    line-height: normal;
    position: relative;
    text-align: left;
}

.gb_Dg,
.gb_R {
    margin-left: 0!important;
    margin-right: 0!important;
}

#gbsfw {
    background-color: #eee;
    min-width: 376px;
    overflow: visible;
}

.gb_fa {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 44px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;
}

.gb_4b,
#gbsfw.gb_g {
    display: block;
    outline: none;
}

.gb_4b {
    width: 376px;
    height: 380px;
}

.gb_5c:first-child,
#gbsfw:first-child+.gb_5c {
    padding-left: 0;
}

.gb_Dg,
.gb_R {
    margin-left: 0!important;
    margin-right: 0!important;
}

.gb_5c {
    display: inline-block;
    padding: 0 0 0 15px;
    vertical-align: middle;
}

.gb_Mc {
    position: relative;
}

#gb#gb a.gb_b {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.gb_da .gb_b {
    background-position: 0 -894px;
    opacity: .55;
}

.gb_cc {
    background-image: url("../images/v1_da9d8cff.png");
    -webkit-background-size: 92px 2835px;
    background-size: 92px 2835px;
}

.gb_b {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.gb_qb {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 6.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: 36px;
}

.gb_pb {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 6.5px;
    top: 37px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
}

#gbd4 {
    max-height: 558px;
    height: 592px;
}

.gb_fa.gb_ga {
    min-height: 196px;
    overflow-y: auto;
    width: 320px;
}

.gb_ha {
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
}

.gb_za .gb_ia {
    position: relative;
}

.gb_ba,
.gb_ba+.gb_ka,
.gb_ma .gb_ka,
.gb_ma .gb_ia {
    display: block;
}

.gb_ka,
.gb_ia {
    display: none;
}

.gb_ia {
    background: #fff;
    margin: 0;
    min-height: 100px;
    padding: 28px;
    padding-right: 27px;
    text-align: left;
    white-space: normal;
    width: 265px;
}

.gb_Z {
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: black;
    z-index: 999;
    height: 98px;
    width: 86px;
}

#gb#gb a.gb_O,
#gb#gb a.gb_P,
#gb#gb span.gb_P {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.gb_za .gb_ia :nth-of-type(1) .gb_O {
    transform: translate(0px, 0px);
}

.gb_za:not(.gb_0f) .gb_O {
    transition: transform 0.2s cubic-bezier(0.333, 0, 0, 1);
}

.gb_za .gb_O {
    position: absolute;
    top: 28px;
    left: 28px;
}

.gb_7 {
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4273db;
}

.gb_7,
.gb_8 {
    position: relative;
    top: 27px;
    visibility: hidden;
}

.gb_8 {
    float: right;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4273db;
}

.gb_9 {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4273db;
}

.gb_9,
.gb_aa {
    left: 37px;
    visibility: hidden;
}

.gb_aa {
    position: absolute;
    top: 59px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4273db;
}

span.gb_2 {
    background-position: 0 -1593px;
}

.gb_O .gb_2 {
    background-image: url("../images/v1_da9d8cff.png");
    -webkit-background-size: 92px 2835px;
    background-size: 92px 2835px;
}

.gb_3 {
    display: block;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 84px;
    text-overflow: ellipsis;
}

.gb_va {
    margin: -12px 28px 28px;
    position: relative;
    width: 264px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}

#gb a.gb_ja,
#gb a.gb_ja:visited,
#gb a.gb_ja:active,
#gb a.gb_ka,
#gb a.gb_ka:visited {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.gb_ta .gb_ja {
    margin-top: 0;
    position: static;
}

.gb_ja,
.gb_ja:visited,
.gb_ja:active,
.gb_ka,
.gb_ka:visited {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.gb_va .gb_4.gb_M {
    background-image: url("../images/pic.png");
}

.gb_M {
    -webkit-background-size: 64px 64px;
    background-size: 64px 64px;
}

.gb_4 {
    background-image: url(//ssl.gstatic.com/gb/images/v1_da9d8cff.png);
    -webkit-background-size: 92px 2835px;
    background-size: 92px 2835px;
    display: inline-block;
    margin: 8px;
    vertical-align: middle;
    height: 64px;
    width: 64px;
}

.gb_wa {
    color: #262626;
    display: inline-block;
    font: 13px/18px Arial, sans-serif;
    margin-right: 80px;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
    white-space: normal;
}

.gb_xa {
    font: 16px/24px Arial, sans-serif;
}

.gb_ya,
#gb#gb .gb_ya {
    color: #427fed;
    text-decoration: none;
}

.gb_ka {
    border-bottom: 1px solid #ebebeb;
    left: 28px;
    width: 264px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

#gb25 .gb_2 {
    background-position: 0 -2111px;
}

#gb30 .gb_2 {
    background-position: 0 0;
}

#gb53 .gb_2 {
    background-position: -25px -1835px;
}

#gb300 .gb_2 {
    background-position: 0 -272px;
}

#gb136 .gb_M {
    background-image: url("../images/a/911e3628e6.png");
}

#gb265 .gb_2 {
    background-position: 0 -2598px;
}

#gb429 .gb_2 {
    background-position: 0 -998px;
}

.gb_ka:last-child {
    border-bottom-width: 0;
}

.gb_Jc .gb_Mc {
    font-size: 14px;
    font-weight: bold;
    top: 0;
    right: 0;
}

.gb_Jc .gb_b {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}

.gb_Nc.gb_Oc {
    background-position: -70px -1171px;
}

.gb_Nc {
    background-color: rgba(0, 0, 0, .55);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

#gnotification {
    border-bottom-color: #eee;
}

.gb_hb.gb_R,
.gb_jb.gb_R,
.gb_fb.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
}

.gbii {
    background-image: url("../images/user.png");
}

.gb_ab {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}

.gb_rb {
    outline: none;
}

.gb_vb {
    margin: 20px;
    white-space: nowrap;
}

.gbip {
    background-image: url("../images/user.png");
}

.gb_zb {
    -webkit-background-size: 96px 96px;
    background-size: 96px 96px;
    border: none;
    vertical-align: top;
    height: 96px;
    width: 96px;
}

.gb_yb .gb_lb {
    background: rgba(0, 0, 0, .54);
}

.gb_lb {
    background: rgba(78, 144, 254, .7);
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    position: absolute;
    padding: 7px 0;
    text-align: center;
    width: 96px;
}

.gb_wb,
.gb_xb {
    display: inline-block;
    vertical-align: top;
}

.gb_Ab {
    font-weight: bold;
    margin: -4px 0 1px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gb_Cb {
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gb_ub {
    color: #ccc;
    margin: 6px 0;
}

.gb_tb,
#gb a.gb_tb.gb_tb,
.gb_ub a,
#gb .gb_ub.gb_ub a {
    color: #36c;
    text-decoration: none;
}

.gb_ub a:first-child {
    margin-left: 0;
}

.gb_ub a:last-child {
    margin-right: 0;
}

#gb .gb_xb a.gb_Db.gb_Db {
    color: #fff;
}

.gb_Ea,
#gb a.gb_Ea.gb_Ea,
.gb_Fa {
    color: #666;
    cursor: default;
    text-decoration: none;
}

.gb_xb .gb_Db {
    background: #4d90fe;
    border-color: #3079ed;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #fff;
}

.gb_Nb:first-child,
.gb_Ub:first-child+.gb_Nb {
    border-top: 0;
}

.gb_Wb {
    border: none;
    vertical-align: top;
    height: 48px;
    width: 48px;
}

.gb_yb {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

.gb_Pb {
    display: inline-block;
    margin: 6px 0 0 10px;
}

.gb_Xb {
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
}

[dir='ltr'],
[dir='rtl'] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
}

.gb_Zb {
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gb_1b {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-top-color: rgba(0, 0, 0, .2);
    display: block;
    padding: 10px 20px;
}

.gb_8a {
    display: none!important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.gb_2b {
    background-position: -35px -242px;
    display: inline-block;
    margin: 1px 0;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.gb_3b {
    color: #427fed;
    display: inline-block;
    padding: 0 25px 0 10px;
    vertical-align: middle;
    white-space: normal;
}

.gb_mb.gb_8a {
    display: none;
}

.gb_mb {
    background-color: #ccc;
    height: 3px;
    overflow: hidden;
}

.gb_nb {
    background-color: #f4b400;
    height: 100%;
    width: 50%;
    -webkit-animation: progressmove 1.5s linear 0s infinite;
    animation: progressmove 1.5s linear 0s infinite;
}

.gb_Eb {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    padding: 10px 0;
    width: 100%;
    display: table;
}

.gb_Eb>div:first-child {
    text-align: left;
}

.gb_Eb>div {
    display: table-cell;
    text-align: right;
}

.gb_Eb .gb_Db {
    margin: 0 20px;
    white-space: nowrap;
}

.gb_Ea {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
}

.gb_Ba,
.gb_Ca,
.gb_Ea,
.gb_Fa {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#gb {
    font-size: 13px
}

#gb {
    position: relative;
    top: 8px
}

div#searchform {
    min-width: 980px;
    z-index: 103
}

div.sfbg,
div.sfbgg {
    min-width: 980px;
    height: 64px
}

.sfbgx {
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    height: 85px;
    position: absolute;
    width: 100%;
    min-width: 980px
}

.hp .sfbgx {
    display: none
}

.big form#tsf,
form#tsf {
    width: auto;
    max-width: 784px;
    overflow: hidden
}

#searchform.big>#tsf {
    max-width: 784px
}

.big div.tsf-p,
form>div.tsf-p {
    margin: -1px 0 0;
    padding-right: 0
}